.container-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.container-list ul {
  width: 15.625em;
  margin: auto;
  background-color: #222326;
  list-style: none;
}

.container-list li {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.container-list .actions button {
  margin-left: 10px;
  background-color: #1db954;
  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 1px;
  color: #ffff;
}
.container-list .actions .eliminar {
  background-color: red;
}

.container-list .agregar-item {
  margin-bottom: 1.5625em;
  background-color: #1db954;
  outline: none;
  border: none;
  border-radius: 0.625em;
  font-size: 1.25em;
  padding: 0.375em;
  color: #ffff;
}
.container-list .agregar-item {
  font-size: 1.5em;
}
.edit-modal {
  margin-top: 200px;
  color: white;
  border: none;
}
.edit-modal .header-modal,
.body-modal,
.footer-modal {
  background-color: #222326;
  border: none;
}
